body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(to right,rgb(233, 233, 233), rgb(88, 167, 196));
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    body {
        font-size: 0.7em; /* Adjust the font size for mobile */
    }

    a {
        font-size: 1.5em;
    }
}